@import '../../../styles/variables.scss';

.button {
  background-color: $colorBlack;
  border: none;
  border-radius: 5px;
  color: $colorWhite;
  font-size: 18px;
  font-weight: bold;
  margin: 0.3rem 0;
  padding: 0.8rem;
  width: 100%;
}

.button:hover {
  background-color: $colorLightBlack;
  cursor: pointer;
}

.button:disabled {
  background-color: $colorLightGrey;
  cursor: unset;
}
