@import '../../../styles/variables.scss';

.button {
  background-color: $colorBlue;
  border: none;
  color: $colorWhite;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.3rem 0;
  padding: 0.8rem;
  height: 5rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
}

.button div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  background-color: $colorLightBlue;
  cursor: pointer;
  transition: 1s all ease;
}

.button:disabled {
  background-color: $colorLightGrey;
  cursor: unset;
}
