@import '../../styles/variables.scss';

.Carousel-container {
  @include display_flex(flex-start, center);
  overflow-x: scroll;
  gap: 1rem;
  width: 100%;
  background-color: #f2f2f2;
  padding: 1rem 5px 1rem 5px;
  height: 36rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.Movie-container__date {
  color: #4f4f4f;
}

.Carousel__loader {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}

.Watchlist__select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: black;
  width: 55px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
