@import '../../../styles/variables.scss';

.Watchlist__container {
  width: 100%;
  height: 100vh;
}

.Homepage-container__header {
  width: 100%;
  height: 8%;
  background-color: rgb(111, 119, 128);
}

.Watchlist-info__container {
  width: 100%;
  height: 92%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 126rem;
  margin: 0 auto;
  padding-top: 2rem;
  gap: 2rem;
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: black;
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
  .Movie-container {
    height: 40rem;
    width: 30rem;
    .Movie-container__details {
      gap: 3px;
    }
    img {
      height: 30rem;
    }
  }
}

.Watchlist__btn {
  width: 100%;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  button {
    height: 5rem;
    width: 7rem;
    color: white;
    border: none;
    background-color: #2f80ed;
    cursor: pointer;
    transition: 1s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover {
    background-color: $colorLightBlue;
    cursor: pointer;
    transition: 1s all ease;
  }
}
