.Movie-container {
  background-color: #e0e0e0;
  border-radius: 1rem;
  cursor: pointer;
  height: 35rem;
  width: 20rem;
}

.Movie-container__img {
  height: 27rem;
  width: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.Movie-container__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.Movie-container__title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  font-size: 1.6rem;
}

.Movie-container__date {
  align-self: flex-start;
  font-size: 1.4rem;
}

.Slider__left {
  position: absolute;
  top: 45%;
  left: 10px;
  background: rgba(111, 119, 128, 0.589);
  border-radius: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: 1s all ease;
}

.Slider__left:hover {
  background: rgba(111, 119, 128, 0.9);
  transition: 1s all ease;
}

.Slider__right:hover {
  background: rgba(111, 119, 128, 0.9);
  transition: 1s all ease;
}

.Slider__right {
  position: absolute;
  top: 45%;
  right: 10px;
  background: rgba(111, 119, 128, 0.589);
  border-radius: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
