@import '../../styles/variables.scss';

.Homepage-container__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Homepage-container {
  width: 100%;
  height: 100vh;
}

.Homepage-container__header {
  width: 100%;
  height: 8%;
  background-color: rgb(111, 119, 128);
}

.Homepage-container__carousel {
  width: 100%;
  height: 92%;
  background-color: white;
  @include display_flex(center, center);
  flex-direction: column;
  max-width: 126rem;
}

.Homepage-container__carousel-container {
  width: 100%;
  @include display_flex(center, center);
  margin-bottom: 12rem;
}

.Homepage-container__Watchlist-title {
  @include display_flex(flex-start, flex-end);
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  h1 {
    margin: 0;
    font-size: 3.2rem;
  }
  h3 {
    margin: 0;
    color: #2f80ed;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 1.7rem;
  }
}

.Homepage-container__Watchlist-title h3 {
  margin: 0;
  color: #2f80ed;
  cursor: pointer;
  margin-bottom: 5px;
}

.Homepage-container__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Homepage-container__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 12rem;
  gap: 1rem;
  button {
    width: 13rem;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
  }
  button:hover {
    background-color: #f2f2f2;
  }
  button:focus {
    background-color: #2f80ed;
  }
}
