@import '../styles/variables.scss';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.MovieInfo-container {
  @include display_flex(center, center);
  flex-direction: column;
  min-height: 100vh;
  width: 56%;
  margin: 0 auto;
}

.MovieInfo-data__holeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.MovieInfo__data {
  @include display_flex(center, center);
  height: 80%;
  width: 100%;
}

.MovieInfo__fullContainer {
  width: 70%;
  height: auto;
}

.MovieInfo__img {
  height: 53rem;
  width: 34rem;
  object-fit: cover;
}

.MovieInfo__title {
  @include display_flex(space-between, center);
  width: 100%;
  font-size: 1.6rem;
}

.MovieInfo-data__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include display_flex(center, flex-start);
  width: 100%;
  height: 80%;
  gap: 5rem;
}

.MovieInfo__genres {
  @include display_flex(flex-start, center);
  div {
    background-color: #f2f2f2;
    padding: 1.2rem;
    border-radius: 2rem;
    margin: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

.MovieInfo-data___information {
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include display_flex(center, flex-start);
  flex-direction: column;
  gap: 1.5rem;
}

.MovieInfo__rate {
  @include display_flex(center, flex-start);
  background-color: #1d1d1d;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 3rem;
  gap: 3rem;
  text-align: center;
  padding: 1rem;
  width: 40rem;
  height: 6rem;

  h4 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}

.MovieInfo__stadisticRate {
  @include display_flex(center, center);
  gap: 5px;
}

.MovieInfo__rate div h4 {
  margin: 0;
  color: #b4b4b4;
}

.MovieInfo__stadisticRate h4:nth-child(1) {
  color: white;
}

.MovieInfo__stadisticRate h4:nth-child(2) {
  color: #b4b4b4;
}

.MovieInfo-data___information p {
  max-height: 15rem;
  font-size: 1.3rem;
  overflow-y: auto;
}

.MovieInfo-rating__title {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.MovieInfo-rating__title .MovieInfo__rate {
  margin-bottom: 1rem;
}

.MovieInfo__imdbRating {
  @include display_flex(center, flex-start);
  flex-direction: column;
  h5 {
    margin: 0;
    color: #b4b4b4;
    margin-left: 3rem;
  }
  svg {
    color: #f3be34;
  }
}

.MovieInfo__imdbRating h4:nth-child(2)::first-letter {
  color: white;
}

.MovieInfo__rate .MovieInfo__ownRating {
  @include display_flex(center, center);
  gap: 5px;
  color: #4b8ee8;
}

.MovieInfo__ownRating svg {
  cursor: pointer;
}

.MovieInfo__ratingStar {
  @include display_flex(center, center);

  gap: 5px;
}

.MovieInfo__extraImgs {
  @include display_flex(flex-start, center);
  gap: 2rem;
  max-width: 108rem;
  overflow-x: scroll;
  overflow-y: hidden;
  img {
    width: 25rem;
    height: 15rem;
    cursor: pointer;
  }
}

.MovieInfo-display__rating {
  position: relative;
}

.MovieInfo-display__rating h4:nth-child(1) {
  margin-bottom: 1rem;
}

.Movie-carousel__container {
  height: 40%;
  width: 100%;
  h2 {
    font-size: 2rem;
  }
}

.MovieInfo__btn {
  align-self: flex-start;
  padding: 8px 1.5rem 8px 1.5rem;
  background-color: #2f80ed;
  color: white;
  border: none;
  cursor: pointer;
  transition: 1s all ease;
}

.MovieInfo__btn:hover {
  background-color: #58a2d4;
  cursor: pointer;
  transition: 1s all ease;
  .MovieInfo__info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }
  button {
    transition: 1s all ease;
  }

  button:hover {
    background-color: #58a2d4;
    cursor: pointer;
    transition: 1s all ease;
  }
}
.MovieInfo__btn-back {
  align-self: flex-start;
  height: 5rem;
  width: 7rem;
  color: white;
  border: none;
  background-color: #2f80ed;
  cursor: pointer;
}

.MovieInfo__onwRating-rate {
  background: #1d1d1d;
  height: 5rem;
  width: 17rem;
  position: absolute;
  display: flex;
  top: -5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

.rate {
  display: inline-block;
  border: 0;
}

.rate > input {
  display: none;
}

.rate > label {
  float: right;
}

.rate > label:before {
  display: inline-block;
  font-size: 2rem;
  padding: 0.3rem 0.2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: '\f005 ';
}

.rate .half:before {
  content: '\f089 ';
  position: absolute;
  padding-right: 0;
}

input:checked ~ label,
label:hover,
label:hover ~ label {
  color: #73b100;
}

input:checked + label:hover,
input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
  color: #a6e72d;
}

.MovieInfo_ratingValue {
  position: absolute;
  color: white;
  cursor: pointer;
}
.MovieInfo_ratingInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Movieinfo_ratingTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
